salesforce_sfdx/main/default/flows/CARGARARCHIVOENCASOS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>CARGAR ARCHIVO EN CASOS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARGAR ARCHIVO EN CASOS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>MARCA_CASILLA_ADJUNTO</name>
        <label>MARCA CASILLA ADJUNTO</label>
        <locationX>401</locationX>
        <locationY>221</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OSFMX_Attachment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Cargar_Archivo</name>
        <label>Cargar Archivo</label>
        <locationX>185</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MARCA_CASILLA_ADJUNTO</targetReference>
        </connector>
        <fields>
            <name>CARGA_FILE_NOTA</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;CARGUE &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;EL O LOS ARCHIVOS, &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;SELECCIONE SIGUIENTE O FINALIZAR&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt; PARA AVANZAR EL FLUJO. LA CARGA REALIZADA SE REFLEJA EN EL CASO AL SELECCIONAR &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;&quot;&lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;FINALIZAR&lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;&quot;,&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;NO&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(28, 25, 199); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt; ANTES.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cargar</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Adjunta uno o varios archivos al caso</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>idfile</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Cargar_Archivo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fileid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idfile</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
