salesforce_sfdx/main/default/flows/OSFMX_ServicePointUpdateServiceType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assigne_SolutionType</name>
        <label>Asignar tipo y solución al punto de suministro</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>LoopServicePoint.OSFMX_OppSolutionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OSFMX_SolutionType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopServicePoint.OSFMX_OppSolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OSFMX_Solution__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServicePoint_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OSFMX_AssignServicePointStatus</name>
        <label>Asignar estado al punto de suministro</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_ServicePointID.vlocity_cmt__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Venta en Progreso</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ServicePointID.OSFMX_OppSolutionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.OSFMX_SolutionType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ServicePointID.OSFMX_OppSolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.OSFMX_Solution__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OSFMX_UpdateServicePointStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServicePoint_Collection</name>
        <label>Colección Puntos de Suministro</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>CollectionUpdateServicePoint</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopServicePoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopServicePoint</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Desicion</name>
        <label>Desición</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>OSFMX_StatusinProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ServicePointID.vlocity_cmt__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Venta en Progreso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ServicePointID.vlocity_cmt__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Install in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OSFMX_AssignServicePointStatus</targetReference>
            </connector>
            <label>Venta en Progreso</label>
        </rules>
    </decisions>
    <decisions>
        <name>OSFMX_QuoteType</name>
        <label>Tipo Oferta</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Un_punto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OSFMX_OppServicePointType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Multipunto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ServicePointID</targetReference>
            </connector>
            <label>Un punto</label>
        </rules>
        <rules>
            <name>Multipunto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OSFMX_OppServicePointType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multipunto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__ParentQuoteId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ChildQuotes</targetReference>
            </connector>
            <label>Multipunto</label>
        </rules>
    </decisions>
    <interviewLabel>Actualiza Estado y Tipo de Solución Punto de Suministro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Estado y Tipo de Solución Punto de Suministro</label>
    <loops>
        <name>LoopChildQuotes</name>
        <label>Bucle ofertas hijas ganadas</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_ChildQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_ServicePoints</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopServicePoint</name>
        <label>Bucle puntos de suministro</label>
        <locationX>1018</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_ServicePoints</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigne_SolutionType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SolutionType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ChildQuotes</name>
        <label>Obtener ofertas hijas</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopChildQuotes</targetReference>
        </connector>
        <filters>
            <field>vlocity_cmt__ParentQuoteId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ServicePointID</name>
        <label>Obtener Id. Puntos de Suministro</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Desicion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vlocity_cmt__DefaultServicePointId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_cmt__ServicePoint__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>vlocity_cmt__Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ServicePoints</name>
        <label>Obtener puntos de suministro</label>
        <locationX>1018</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopServicePoint</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopChildQuotes.vlocity_cmt__DefaultServicePointId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>vlocity_cmt__ServicePoint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>OSFMX_UpdateServicePointStatus</name>
        <label>Actualizar Estado del Punto de Suministro</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>Get_ServicePointID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SolutionType</name>
        <label>Actualizar tipo y solución</label>
        <locationX>1018</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>LoopChildQuotes</targetReference>
        </connector>
        <inputReference>CollectionUpdateServicePoint</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OSFMX_QuoteType</targetReference>
        </connector>
        <filters>
            <field>vlocity_cmt__DefaultServicePointId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ganada</stringValue>
            </value>
        </filters>
        <filters>
            <field>OSFMX_OppServicePointType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Multipunto</stringValue>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__ParentQuoteId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionUpdateServicePoint</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__ServicePoint__c</objectType>
    </variables>
</Flow>