salesforce_sfdx/main/default/flows/OSFMX_CreacionGrupoCuentas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ColeccionCuentasCtaNeg</name>
        <label>ColeccionCuentas</label>
        <locationX>778</locationX>
        <locationY>1523</locationY>
        <assignmentItems>
            <assignToReference>Var_Col_GrupoCuentas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_CtaNegocio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GuardaCuentaNegocio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ColeccionCuentasCtaServ</name>
        <label>ColeccionCuentas</label>
        <locationX>787</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>Var_Col_GrupoCuentas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_CtaServicio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GuardaCuentaServicio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ColeccionCuentasGpoEco</name>
        <label>ColeccionCuentas</label>
        <locationX>773</locationX>
        <locationY>969</locationY>
        <assignmentItems>
            <assignToReference>Var_Col_GrupoCuentas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_GpoEconomico</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GuardaGrupoEconomico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DatosCuentaNegocio</name>
        <label>Datos de Cuenta de Negocio</label>
        <locationX>1006</locationX>
        <locationY>1289</locationY>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_NombreCtaNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tel_TelefonoCtaNeg.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_SectorCtaNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.OSFMX_BusinessName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_RazonSocialCtaNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.OSFMX_RFC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_RFCCtaNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaNeg.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaNeg.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaNeg.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaNeg.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaNeg.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.OSFMX_GlobalEngieAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_CuentaGlobalENGIECtaNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.vlocity_cmt__vCustomerPriority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lis_PrioridadClienteCtaNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL_SitioWebCtaNeg.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.vlocity_cmt__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_StatusCtaNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.OSFMX_KeyAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_CuentaClaveCtaNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_DescripcionCtaNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_GpoEconomico.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaNegocio.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_RT_CuentaNegocio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MsjErrorScreen2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidaDireccionCtaNeg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DatosCuentaServicio</name>
        <label>Datos de Cuenta de Servicio</label>
        <locationX>995</locationX>
        <locationY>1771</locationY>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_NombreCtaServ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tel_TelefonoCtaServ.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.OSFMX_AccountContractID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_IdCuentaContratoCtaServ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaServ.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaServ.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaServ.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaServ.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionCtaServ.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.vlocity_cmt__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_StatusCtaServ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_CtaNegocio.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CtaServicio.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_RT_CuentaServicio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Msj_ErrorScreen3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidaDireccionCtaServ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DatosGrupoEconomico</name>
        <label>Datos de grupo económico</label>
        <locationX>1007</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_NombreGpoEco</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tel_TelefonoGpoEco.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.vlocity_cmt__vCustomerPriority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lis_PrioridadClienteGpoEco</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionGpoEco.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionGpoEco.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionGpoEco.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionGpoEco.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dir_DireccionGpoEco.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_DescripcionGpoEco</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL_SitioWebGpoEco.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.OSFMX_GlobalEngieAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_CuentaGlobalENGIEGpoEco</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.OSFMX_KeyAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_CuentaClaveGpoEco</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_GpoEconomico.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_RT_GrupoEconomico</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MsjErrorScreen1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidaDireccionGpoEco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MensajeErrorDireccion</name>
        <label>Mensaje de error de Dirección</label>
        <locationX>522</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>Var_MsjErrorScreen1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Captura la dirección completa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_SolicitarInformacionGpoEco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MensajeErrorDireccionCtaNeg</name>
        <label>Mensaje de error de Dirección</label>
        <locationX>561</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>Var_MsjErrorScreen2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Captura la dirección completa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_SolicitarInformacionCtaNeg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MensajeErrorDireccionCtaServ</name>
        <label>Mensaje de error de Dirección</label>
        <locationX>599</locationX>
        <locationY>1796</locationY>
        <assignmentItems>
            <assignToReference>Var_Msj_ErrorScreen3</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Screen_SolicitarInformacionCtaServ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_type_Cuenta_de_Negocio</name>
        <label>Record type Cuenta de Negocio</label>
        <locationX>1491</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>Var_RT_CuentaNegocio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorre_registros_de_record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_registros_de_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_type_Cuenta_de_servicio</name>
        <label>Record type Cuenta de servicio</label>
        <locationX>1487</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Var_RT_CuentaServicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorre_registros_de_record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_registros_de_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_type_Grupo_economico</name>
        <label>Record type Grupo económico</label>
        <locationX>1486</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>Var_RT_GrupoEconomico</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorre_registros_de_record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_registros_de_record_type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evalua_cada_record_type_de_cuenta</name>
        <label>Evalúa cada record type de cuenta</label>
        <locationX>1128</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>Recorre_registros_de_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Grupo_economico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_registros_de_record_type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EconomicGroup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_type_Grupo_economico</targetReference>
            </connector>
            <label>Grupo económico</label>
        </rules>
        <rules>
            <name>Cuenta_de_Negocio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_registros_de_record_type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_type_Cuenta_de_Negocio</targetReference>
            </connector>
            <label>Cuenta de Negocio</label>
        </rules>
        <rules>
            <name>Cuenta_de_servicio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_registros_de_record_type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_type_Cuenta_de_servicio</targetReference>
            </connector>
            <label>Cuenta de servicio</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidaDireccionCtaNeg</name>
        <label>Valida dirección de Cta Neg</label>
        <locationX>771</locationX>
        <locationY>1301</locationY>
        <defaultConnector>
            <targetReference>ColeccionCuentasCtaNeg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dirección completa</defaultConnectorLabel>
        <rules>
            <name>Direccion_incompletaCtaNeg</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaNegocio.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MensajeErrorDireccionCtaNeg</targetReference>
            </connector>
            <label>Dirección incompleta</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidaDireccionCtaServ</name>
        <label>Valida dirección de Cta Serv</label>
        <locationX>780</locationX>
        <locationY>1796</locationY>
        <defaultConnector>
            <targetReference>ColeccionCuentasCtaServ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dirección completa</defaultConnectorLabel>
        <rules>
            <name>Direccion_incompletaCtaServ</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CtaServicio.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MensajeErrorDireccionCtaServ</targetReference>
            </connector>
            <label>Dirección incompleta</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidaDireccionGpoEco</name>
        <label>Valida dirección de Gpo Eco</label>
        <locationX>765</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>ColeccionCuentasGpoEco</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dirección completa</defaultConnectorLabel>
        <rules>
            <name>Direccion_incompletaGpoEco</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_GpoEconomico.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MensajeErrorDireccion</targetReference>
            </connector>
            <label>Dirección incompleta</label>
        </rules>
    </decisions>
    <description>Wizard que permite la creación de un Grupo económico, Cuenta de Servicio y Cuenta de Negocio.</description>
    <dynamicChoiceSets>
        <name>Picklist_PrioridadCliente</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>vlocity_cmt__vCustomerPriority__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Sector</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>vlocity_cmt__Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Creación de Grupo de Cuentas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación de Grupo de Cuentas</label>
    <loops>
        <name>Recorre_registros_de_record_type</name>
        <label>Recorre registros de record type</label>
        <locationX>758</locationX>
        <locationY>350</locationY>
        <collectionReference>TiposRegistroCuentas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evalua_cada_record_type_de_cuenta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_SolicitarInformacionGpoEco</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>GuardaCuentaNegocio</name>
        <label>Guarda Cuenta de Negocio</label>
        <locationX>995</locationX>
        <locationY>1531</locationY>
        <connector>
            <targetReference>Screen_SolicitarInformacionCtaServ</targetReference>
        </connector>
        <inputReference>Var_CtaNegocio</inputReference>
    </recordCreates>
    <recordCreates>
        <name>GuardaCuentaServicio</name>
        <label>Guarda Cuenta de Negocio</label>
        <locationX>995</locationX>
        <locationY>2014</locationY>
        <connector>
            <targetReference>Screen_ConfirmacionCreacionCuentas</targetReference>
        </connector>
        <inputReference>Var_CtaServicio</inputReference>
    </recordCreates>
    <recordCreates>
        <name>GuardaGrupoEconomico</name>
        <label>Guarda Grupo Económico</label>
        <locationX>1000</locationX>
        <locationY>968</locationY>
        <connector>
            <targetReference>Screen_SolicitarInformacionCtaNeg</targetReference>
        </connector>
        <inputReference>Var_GpoEconomico</inputReference>
    </recordCreates>
    <recordLookups>
        <name>TiposRegistroCuentas</name>
        <label>Tipos de registro de cuentas</label>
        <locationX>760</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorre_registros_de_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_ConfirmacionCreacionCuentas</name>
        <label>Confirmación de creación de cuentas</label>
        <locationX>816</locationX>
        <locationY>2224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Lab_Msj_Confirmacion</name>
            <fieldText>&lt;p&gt;Se creó correctamente el Grupo de Cuentas.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SolicitarInformacionCtaNeg</name>
        <label>Solicitud de información de Cuenta de Negocio</label>
        <locationX>773</locationX>
        <locationY>1119</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DatosCuentaNegocio</targetReference>
        </connector>
        <fields>
            <name>Eti_CtaNeg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Información de la &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Cuenta de Negocio&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lab_CuentaPrincipalCtaNeg</name>
            <fieldText>&lt;p&gt;Cuenta Principal: {!Var_GpoEconomico.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_NombreCtaNeg</name>
            <dataType>String</dataType>
            <fieldText>Nombre de Cuenta de Negocio</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tel_TelefonoCtaNeg</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>List_SectorCtaNeg</name>
            <choiceReferences>Picklist_Sector</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sector</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_RazonSocialCtaNeg</name>
            <dataType>String</dataType>
            <fieldText>Razón Social</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_RFCCtaNeg</name>
            <dataType>String</dataType>
            <fieldText>RFC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dir_DireccionCtaNeg</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Dirección</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lab_ErrorDireccionCtaNeg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;{!Var_MsjErrorScreen2}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Var_MsjErrorScreen2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_CuentaGlobalENGIECtaNeg</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Cuenta Global ENGIE</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lis_PrioridadClienteCtaNeg</name>
            <choiceReferences>Picklist_PrioridadCliente</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prioridad del cliente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>URL_SitioWebCtaNeg</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sitio WEB</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>List_StatusCtaNeg</name>
            <choiceReferences>Picklist_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Check_CuentaClaveCtaNeg</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Cuenta Clave</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_DescripcionCtaNeg</name>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SolicitarInformacionCtaServ</name>
        <label>Solicitud de información de Cuenta de Servicio</label>
        <locationX>773</locationX>
        <locationY>1644</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DatosCuentaServicio</targetReference>
        </connector>
        <fields>
            <name>Eti_CtaServ</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Información del &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Cuenta de Servicio&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lab_CuentaPrincipalCtaServ</name>
            <fieldText>&lt;p&gt;Cuenta principal: {!Var_CtaNegocio.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_NombreCtaServ</name>
            <dataType>String</dataType>
            <fieldText>Nombre de la Cuenta de Servicio</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dir_DireccionCtaServ</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Dirección</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lab_ErrorDireccionCtaServ</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;{!Var_Msj_ErrorScreen3}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Var_Msj_ErrorScreen3</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tel_TelefonoCtaServ</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Text_IdCuentaContratoCtaServ</name>
            <dataType>String</dataType>
            <fieldText>Id Cuenta Contrato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>List_StatusCtaServ</name>
            <choiceReferences>Picklist_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SolicitarInformacionGpoEco</name>
        <label>Solicitud de información de Grupo Económico</label>
        <locationX>768</locationX>
        <locationY>564</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DatosGrupoEconomico</targetReference>
        </connector>
        <fields>
            <name>Eti_GrupoEconomico</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Información del &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Grupo económico&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_NombreGpoEco</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_GpoEconomico.Name</elementReference>
            </defaultValue>
            <fieldText>Nombre de Grupo Económico</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tel_TelefonoGpoEco</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Var_GpoEconomico.Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lis_PrioridadClienteGpoEco</name>
            <choiceReferences>Picklist_PrioridadCliente</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prioridad del cliente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dir_DireccionGpoEco</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Dirección</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Var_GpoEconomico.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Var_GpoEconomico.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Var_GpoEconomico.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Var_GpoEconomico.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Var_GpoEconomico.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>Var_GpoEconomico.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lab_ErrorDireccion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;{!Var_MsjErrorScreen1}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Var_MsjErrorScreen1</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Text_DescripcionGpoEco</name>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>URL_SitioWebGpoEco</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sitio WEB</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue/>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Check_CuentaGlobalENGIEGpoEco</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Cuenta Global ENGIE</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Check_CuentaClaveGpoEco</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Cuenta Clave</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>634</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>TiposRegistroCuentas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_Col_GrupoCuentas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Var_CtaNegocio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Var_CtaServicio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Var_GpoEconomico</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Var_Msj_ErrorScreen3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_MsjErrorScreen1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>Var_MsjErrorScreen2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>Var_RT_CuentaNegocio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_RT_CuentaServicio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_RT_GrupoEconomico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
