salesforce_sfdx/main/default/flows/OSFMX_MasterQuoteCollection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>OSFMX_Assigne_Status_Substatus</name>
        <label>Asignar estado y subestado ofertas hijas</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Loop_ChildQuotes.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MasterQuoteStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ChildQuotes.OSFMX_SubEstatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MasterQuoteSubstatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OSFMX_ChildQuotesCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OSFMX_AssigneStatusMasterQuote</name>
        <label>Asignar estado y subestado</label>
        <locationX>352</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>MasterQuoteStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GetChildQuotes.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterQuoteSubstatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GetChildQuotes.OSFMX_SubEstatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ChildQuotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OSFMX_ChildQuotesCollection</name>
        <label>Colección de ofertas hijas</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CollectiontoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ChildQuotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ChildQuotes</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Dividir colección de registros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dividir colección de ofertas multipunto</label>
    <loops>
        <name>Loop_ChildQuotes</name>
        <label>Bucle de ofertas hijas</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <collectionReference>OSFMX_GetChildQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OSFMX_Assigne_Status_Substatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Status_Substatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_GetChildQuotes</name>
        <label>Bucle consulta ofertas hijas</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>MasterQuoteCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OSFMX_GetChildQuotes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OSFMX_GetChildQuotes</name>
        <label>Obtener Ofertas Hijas</label>
        <locationX>352</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OSFMX_AssigneStatusMasterQuote</targetReference>
        </connector>
        <filters>
            <field>vlocity_cmt__ParentQuoteId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_GetChildQuotes.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_Substatus</name>
        <label>Actualizar estado y subestado</label>
        <locationX>352</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Loop_GetChildQuotes</targetReference>
        </connector>
        <inputReference>CollectiontoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_GetChildQuotes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectiontoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>MasterQuoteCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>MasterQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterQuoteStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterQuoteStatusIsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MasterQuoteSubstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>