salesforce_sfdx/main/default/flows/OSFPE_vw_Insertar_Potencias_Precios_Contrato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Asignar_Potencias</name>
        <label>Asignar Potencias</label>
        <locationX>824</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>Bucle_Potencias.OSFPE_fld_Contrato_Enlazado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdContrato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Potencias_Actualizadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Potencias_Actualizadas</name>
        <label>Asignar Potencias Actualizadas</label>
        <locationX>723</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>ListaActualizadaPotencia</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bucle_Potencias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Potencias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Precios_PPA</name>
        <label>Asignar Precios PPA</label>
        <locationX>827</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>Bucle_Precios_PPA.OSFPE_fld_Contrato_Enlazado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdContrato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Precios_PPA_Actualizado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Precios_PPA_Actualizado</name>
        <label>Asignar Precios PPA Actualizado</label>
        <locationX>724</locationX>
        <locationY>104</locationY>
        <assignmentItems>
            <assignToReference>ListaActualizadaPrecioPPA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bucle_Precios_PPA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Precios_PPA</targetReference>
        </connector>
    </assignments>
    <interviewLabel>OSFPE_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insertar Potencias Precios Contrato</label>
    <loops>
        <name>Bucle_Potencias</name>
        <label>Bucle Potencias</label>
        <locationX>624</locationX>
        <locationY>567</locationY>
        <collectionReference>ListaPotencias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Potencias</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Potencias</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Precios_PPA</name>
        <label>Bucle Precios PPA</label>
        <locationX>623</locationX>
        <locationY>247</locationY>
        <collectionReference>ListaPreciosPPA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Precios_PPA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Precios_PPA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Flujo para obtener el Contrato</description>
        <name>Obtener_Contrato</name>
        <label>Obtener Contrato</label>
        <locationX>174</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Precios_PPA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContrato</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>IdOportunidad</assignToReference>
            <field>OSFCL_Oportunidad_relacionada__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Potencias</name>
        <label>Obtener Potencias</label>
        <locationX>493</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle_Precios_PPA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OSFPE_fld_Oportunidad_enlazada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>OSFPE_obj_Potencia__c</object>
        <outputReference>ListaPotencias</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OSFPE_fld_Contrato_Enlazado__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Precios_PPA</name>
        <label>Obtener Precios PPA</label>
        <locationX>333</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Potencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OSFPE_fld_Oportunidad_enlazada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>OSFPE_obj_Precio_PPA__c</object>
        <outputReference>ListaPreciosPPA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OSFPE_fld_Contrato_Enlazado__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Potencias</name>
        <label>Actualizar Potencias</label>
        <locationX>399</locationX>
        <locationY>573</locationY>
        <inputReference>ListaActualizadaPotencia</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Precios_PPA</name>
        <label>Actualizar Precios PPA</label>
        <locationX>625</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>Bucle_Potencias</targetReference>
        </connector>
        <inputReference>ListaActualizadaPrecioPPA</inputReference>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Obtener_Contrato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id del contrato</description>
        <name>IdContrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaActualizadaPotencia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OSFPE_obj_Potencia__c</objectType>
    </variables>
    <variables>
        <name>ListaActualizadaPrecioPPA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OSFPE_obj_Precio_PPA__c</objectType>
    </variables>
    <variables>
        <name>ListaIdPrecio</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaPotencias</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OSFPE_obj_Potencia__c</objectType>
    </variables>
    <variables>
        <name>ListaPreciosPPA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OSFPE_obj_Precio_PPA__c</objectType>
    </variables>
</Flow>
