salesforce_sfdx/main/default/flows/OSFPE_vw_Inserta_Potencia_Maxima_en_Oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Decide_si_tiene_monto_o_es_ppa</name>
        <label>Decide si tiene monto o es ppa</label>
        <locationX>927</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Sin_Importe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Oportunidad.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Opp_Sin_Importe</targetReference>
            </connector>
            <label>Sin Importe</label>
        </rules>
        <rules>
            <name>Con_Importe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Oportunidad.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Opp_Con_Importe</targetReference>
            </connector>
            <label>Con Importe</label>
        </rules>
    </decisions>
    <description>Proceso que inserta el valor de Potencia Contratada HP y Potencia Contratada HFP del objeto potencia en campos de la oportunidad.</description>
    <interviewLabel>Inserta Potencia Máxima en Oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inserta Potencia Máxima en Oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_Potencia</name>
        <label>Busca Potencia</label>
        <locationX>176</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Potencia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <object>OSFPE_obj_Potencia__c</object>
        <outputAssignments>
            <assignToReference>IdOppty</assignToReference>
            <field>OSFPE_fld_Oportunidad_enlazada__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Oportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>762</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_si_tiene_monto_o_es_ppa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOppty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Registros_Potencia_HFP</name>
        <label>Obtener Registros Potencia HFP</label>
        <locationX>580</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OSFPE_fld_Oportunidad_enlazada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOppty</elementReference>
            </value>
        </filters>
        <object>OSFPE_obj_Potencia__c</object>
        <outputAssignments>
            <assignToReference>PotenciaHFP</assignToReference>
            <field>OSFPE_fld_Potencia_contratada_en_HFP__c</field>
        </outputAssignments>
        <sortField>OSFPE_fld_Potencia_contratada_en_HFP__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Potencia</name>
        <label>Potencia</label>
        <locationX>395</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Registros_Potencia_HFP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OSFPE_fld_Oportunidad_enlazada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOppty</elementReference>
            </value>
        </filters>
        <object>OSFPE_obj_Potencia__c</object>
        <outputAssignments>
            <assignToReference>PotenciaHP</assignToReference>
            <field>OSFPE_fld_Potencia_contratada_en_HP__c</field>
        </outputAssignments>
        <sortField>OSFPE_fld_Potencia_contratada_en_HP__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Opp</name>
        <label>Actualiza Opp</label>
        <locationX>934</locationX>
        <locationY>18</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOppty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OSFPE_fld_Potencia_Maxima_Contratada_HFP__c</field>
            <value>
                <elementReference>PotenciaHFP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSFPE_fld_Potencia_Maxima_Contratada_HP__c</field>
            <value>
                <elementReference>PotenciaHP</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Opp_Con_Importe</name>
        <label>Actualiza Opp</label>
        <locationX>1088</locationX>
        <locationY>292</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOppty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OSFPE_fld_Potencia_Maxima_Contratada_HFP__c</field>
            <value>
                <elementReference>PotenciaHFP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSFPE_fld_Potencia_Maxima_Contratada_HP__c</field>
            <value>
                <elementReference>PotenciaHP</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Opp_Sin_Importe</name>
        <label>Actualiza Opp</label>
        <locationX>933</locationX>
        <locationY>132</locationY>
        <connector>
            <targetReference>Actualiza_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOppty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OSFPE_fld_Potencia_Maxima_Contratada_HFP__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSFPE_fld_Potencia_Maxima_Contratada_HP__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Busca_Potencia</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdOppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PotenciaHFP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PotenciaHP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
